.row
  .col-md-4
  .col-md-4
    h2 Sign up
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-vertical' }) do |f|
      = render 'devise/shared/error_notification'

      = f.input :email, :required => true, :autofocus => true
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true

      .form-actions
        = f.submit t('sign_up'), class: 'btn btn-primary'
