- if resource.errors.any?
  .alert.alert-danger
    h4
      = pluralize(resource.errors.count, "error")
      = t('brokers.form_error_message')
    ul
      - resource.errors.full_messages.each do |msg|
        li= msg
