= simple_form_for @price_bucket, url: path, html: { class: 'form-vertical' } do |f|
  - if @price_bucket.errors.any?
    .alert.alert-danger
      h4
        = pluralize(@price_bucket.errors.count, "error")
        = t('clearing_price_buckets.form_error_message')
      ul
        - @price_bucket.errors.full_messages.each do |msg|
          li= msg

  = f.input :name
  = f.input :description, input_html: { rows: 8 }
  = f.association :applicable_state, collection: State.all, :label => t('clearing_price_buckets.applicable_state')

  .form-actions
    = link_to t('cancel'), price_buckets_path, class: :btn
    = f.submit t('save'), class: 'btn btn-primary'
