= form_tag destroy_multiple_price_buckets_path, method: :delete do
  .sidebar
    ul.nav.nav-sidebar
      li
        p.text-left = link_to t('clearing_price_buckets.create_new'), new_price_bucket_path, class: 'btn btn-primary'
      li
        = submit_tag t('clearing_price_buckets.delete_selected'), class: 'btn btn-danger', data: { confirm: t('delete_confirm') }
  .content-area
    p.lead = t('clearing_price_buckets_model')
    table.table.table-hover.table-bordered
      thead
        tr
          th
          th = t('clearing_price_buckets.id')
          th = t('clearing_price_buckets.name')
          th = t('clearing_price_buckets.description')
          th = t('clearing_price_buckets.applicable_state')
          th
      tbody
        - @price_buckets.each do |price_bucket|
          tr
            td = check_box_tag "clearing_price_buckets[]", price_bucket.id
            td = price_bucket.id
            td = price_bucket.name
            td = price_bucket.description
            td = price_bucket.applicable_state.abbreviation if price_bucket.applicable_state.present?
            td
              = link_to t('view'), price_bucket_path(price_bucket), :class => 'btn btn-xs btn-info'
              | &nbsp;
              = link_to t('edit'), edit_price_bucket_path(price_bucket), :class => 'btn btn-xs btn-success'
