.sidebar
  ul.nav.nav-sidebar
    li
      = link_to t('clearing_price_buckets.edit'), edit_price_bucket_path(@price_bucket)
    li
      = link_to t('clearing_price_buckets.delete'), price_bucket_path(@price_bucket), method: :delete, data: { confirm: t('delete_confirm') }
.col-md-4
  p.lead = t('clearing_price_buckets.view_bucket_name', name: @price_bucket.name)

  table.table.well
    tbody
      tr
        td
          b = t('clearing_price_buckets.name')
        td = @price_bucket.name
      tr
        td
          b = t('clearing_price_buckets.description')
        td = @price_bucket.description
      tr
        td
          b = t('clearing_price_buckets.applicable_state')
        td = @price_bucket.applicable_state.abbreviation if @price_bucket.applicable_state.present?

