= simple_form_for @counterparty, :html => { :class => 'form-vertical' } do |f|
  - if @counterparty.errors.any?
    .alert.alert-danger
      h4
        = pluralize(@counterparty.errors.count, "error")
        = t('counterparties.form_error_message')
      ul
        - @counterparty.errors.full_messages.each do |msg|
          li= msg

  = f.input :company_name
  = f.input :contact_name
  = f.input :contact_email
  = f.input :contact_phone, placeholder: '(333) 678-0987'
  = f.input :contact_address, as: :text, input_html: { rows: 5 }

  .form-actions
    = link_to t('cancel'), counterparties_path, class: :btn
    = f.submit t('save'), class: 'btn btn-primary'
