= form_tag destroy_multiple_counterparties_path, method: :delete do
  .sidebar
    ul.nav.nav-sidebar
      li
        p.text-left = link_to t('counterparties.create_new'), new_counterparty_path, class: 'btn btn-primary'
      li
        = submit_tag t('counterparties.delete_selected'), class: 'btn btn-danger', data: { confirm: t('delete_confirm') }
  .content-area
    p.lead = t('counterparties_model')
    table.table.table-hover.table-bordered
      thead
        tr
          th
          th = t('counterparties.id')
          th = t('counterparties.company_name')
          th = t('counterparties.contact_name')
          th = t('counterparties.contact_email')
          th = t('counterparties.contact_phone')
          th
      tbody
        - @counterparties.each do |counterparty|
          tr
            td = check_box_tag "counterparties[]", counterparty.id
            td = counterparty.id
            td = counterparty.company_name
            td = counterparty.contact_name
            td = counterparty.contact_email
            td = counterparty.contact_phone
            td
              = link_to t('view'), counterparty_path(counterparty), :class => 'btn btn-xs btn-info'
              | &nbsp;
              = link_to t('edit'), edit_counterparty_path(counterparty), :class => 'btn btn-xs btn-success'
