.sidebar
  ul.nav.nav-sidebar
    li
      = link_to t('counterparties.edit'), edit_counterparty_path(@counterparty)
    li
      = link_to t('counterparties.delete'), counterparty_path(@counterparty), method: :delete, data: { confirm: t('delete_confirm') }
.col-md-4
  p.lead = t('counterparties.view_company_name', company_name: @counterparty.company_name)

  table.table.well
    tbody
      tr
        td
          b = t('counterparties.company_name')
        td = @counterparty.company_name
      tr
        td
          b = t('counterparties.contact_name')
        td = @counterparty.contact_name
      tr
        td
          b = t('counterparties.contact_email')
        td = @counterparty.contact_email
      tr
        td
          b = t('counterparties.contact_phone')
        td = @counterparty.contact_email
      tr
        td
          b = t('counterparties.contact_address')
        td = @counterparty.contact_address
