.row
  .col-md-4
  .col-md-4
    h2 Sign in
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, "Sign in", class: 'btn btn-success'
        = link_to "Forgot your password?", new_password_path(resource_name), class: 'btn'
