html, body {
  min-width: 1170px;
  font-size: 12px;
  font-family: Verdana, 'Geneva', sans-serif;
}

.btn {
  font-size: 12px;
}

th {
  font-size: 14px;
}

.navbar-text {
  margin-top: 17px;
}

.content-area {
  width: 930px;
  float: right;
}
.container-fixed {
  width: 1170px;
  margin: 0 auto;
}

.sidebar {
  float: left;
  display: block;
  padding: 0;
  border-right: 1px solid #eee;
  margin-right: 10px;
  width: 230px;
  min-height: 1px;
}

.breadcrumb > li + li:before {
  content: "";
  padding: 0;
  color: #fff;
}

.breadcrumb .divider {
  padding: 0 5px;
  color: #ccc;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
