= simple_form_for @payment_method_override, html: { class: 'form-vertical' } do |f|
  - if @payment_method_override.errors.any?
    .alert.alert-danger
      h4
        = pluralize(@payment_method_override.errors.count, "error")
        = t('payment_method_overrides.form_error_message')
      ul
        - @payment_method_override.errors.full_messages.each do |msg|
          li= msg

  = f.input :name
  = f.input :description, input_html: { rows: 8 }
  = f.input :payment_method
  = f.input :payment_frequency
  = f.input :brokerage_customer_percentage
  = f.input :fixed_customer_payment
  = f.input :per_acp_customer_percentage
  = f.association :per_acp_acp_schedule, collection: AcpSchedule.all, :label => t('payment_method_overrides.per_acp_acp_schedule_id')

  .form-actions
    = link_to t('cancel'), payment_method_overrides_path, class: :btn
    = f.submit t('save'), class: 'btn btn-primary'
