= form_tag destroy_multiple_payment_method_overrides_path, method: :delete do
  .sidebar
    ul.nav.nav-sidebar
      li
        p.text-left = link_to t('payment_method_overrides.create_new'), new_payment_method_override_path, class: 'btn btn-primary'
      li
        = submit_tag t('payment_method_overrides.delete_selected'), class: 'btn btn-danger', data: { confirm: t('delete_confirm') }
  .content-area
    p.lead = t('payment_method_overrides_model')
    table.table.table-hover.table-bordered
      thead
        tr
          th
          th = t('payment_method_overrides.id')
          th = t('payment_method_overrides.name')
          th = t('payment_method_overrides.payment_method')
          th = t('payment_method_overrides.payment_frequency')
          th = t('payment_method_overrides.description')
          th
      tbody
        - @payment_method_overrides.each do |payment_method_override|
          tr
            td = check_box_tag "payment_method_overrides[]", payment_method_override.id
            td = payment_method_override.id
            td = payment_method_override.name
            td = payment_method_override.payment_method_text
            td = payment_method_override.payment_frequency_text
            td = payment_method_override.description
            td
              = link_to t('view'), payment_method_override_path(payment_method_override), :class => 'btn btn-xs btn-info'
              | &nbsp;
              = link_to t('edit'), edit_payment_method_override_path(payment_method_override), :class => 'btn btn-xs btn-success'
