.sidebar
  ul.nav.nav-sidebar
    li
      = link_to t('payment_method_overrides.edit'), edit_payment_method_override_path(@payment_method_override)
    li
      = link_to t('payment_method_overrides.delete'), payment_method_override_path(@payment_method_override), method: :delete, data: { confirm: t('delete_confirm') }
.col-md-4
  p.lead = t('payment_method_overrides.view_override_name', name: @payment_method_override.name)

  table.table.well
    tbody
      tr
        td
          b = t('payment_method_overrides.name')
        td = @payment_method_override.name
      tr
        td
          b = t('payment_method_overrides.description')
        td = @payment_method_override.description
      tr
        td
          b = t('payment_method_overrides.payment_method')
        td = @payment_method_override.payment_method_text
      tr
        td
          b = t('payment_method_overrides.payment_frequency')
        td = @payment_method_override.payment_frequency_text
      tr
        td
          b = t('payment_method_overrides.brokerage_customer_percentage')
        td = @payment_method_override.brokerage_customer_percentage
      tr
        td
          b = t('payment_method_overrides.fixed_customer_payment')
        td = @payment_method_override.fixed_customer_payment
      tr
        td
          b = t('payment_method_overrides.per_acp_customer_percentage')
        td = @payment_method_override.per_acp_customer_percentage
      tr
        td
          b = t('payment_method_overrides.per_acp_acp_schedule_id')
        td = @payment_method_override.per_acp_acp_schedule.name if @payment_method_override.per_acp_acp_schedule.present?
