= simple_form_for @broker, :html => { :class => 'form-vertical' } do |f|
  - if @broker.errors.any?
    .alert.alert-danger
      h4
        = pluralize(@broker.errors.count, "error")
        = t('brokers.form_error_message')
      ul
        - @broker.errors.full_messages.each do |msg|
          li= msg

  = f.input :company_name
  = f.input :contact_name
  = f.input :contact_email
  = f.input :contact_phone, placeholder: '(555) 678-0987'
  = f.input :contact_address, as: :text, input_html: { rows: 5 }

  .form-actions
    = link_to t('cancel'), brokers_path, class: :btn
    = f.submit t('save'), class: 'btn btn-primary'
