= form_tag destroy_multiple_brokers_path, method: :delete do
  .sidebar
    ul.nav.nav-sidebar
      li
        p.text-left = link_to t('brokers.create_new'), new_broker_path, class: 'btn btn-primary'
      li
        = submit_tag t('brokers.delete_selected'), class: 'btn btn-danger', data: { confirm: t('delete_confirm') }
  .content-area
    p.lead = t('brokers_model')
    table.table.table-hover.table-bordered
      thead
        tr
          th
          th = t('brokers.id')
          th = t('brokers.company_name')
          th = t('brokers.contact_name')
          th = t('brokers.contact_email')
          th = t('brokers.contact_phone')
          th
      tbody
        - @brokers.each do |broker|
          tr
            td = check_box_tag "brokers[]", broker.id
            td = broker.id
            td = broker.company_name
            td = broker.contact_name
            td = broker.contact_email
            td = broker.contact_phone
            td
              = link_to t('view'), broker_path(broker), :class => 'btn btn-xs btn-info'
              | &nbsp;
              = link_to t('edit'), edit_broker_path(broker), :class => 'btn btn-xs btn-success'
