.sidebar
  ul.nav.nav-sidebar
    li
      = link_to t('brokers.edit'), edit_broker_path(@broker)
    li
      = link_to t('brokers.delete'), broker_path(@broker), method: :delete, data: { confirm: t('delete_confirm') }
.col-md-4
  p.lead = t('brokers.view_company_name', company_name: @broker.company_name)

  table.table.well
    tbody
      tr
        td
          b = t('brokers.company_name')
        td = @broker.company_name
      tr
        td
          b = t('brokers.contact_name')
        td = @broker.contact_name
      tr
        td
          b = t('brokers.contact_email')
        td = @broker.contact_email
      tr
        td
          b = t('brokers.contact_phone')
        td = @broker.contact_email
      tr
        td
          b = t('brokers.contact_address')
        td = @broker.contact_address
