- flash.each do |name, msg|
  - if msg.is_a?(String)
    .alert class="alert-#{name == :notice ? 'success' : 'danger'}"
      a.close data-dismiss="alert" &#215;
      = content_tag :div, msg, :id => "flash_#{name}"
