.navbar.navbar-inverse.navbar-static-top role="navigation"
  .container-fixed
    - if user_signed_in?
      ul.nav.navbar-nav.pull-left
        li.dropdown.active
          = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
            = t('administration')
            b.caret
          ul.dropdown-menu
            li
              = link_to t('dashboard'), root_path
            li
              = link_to t('counterparties_model'), counterparties_path
            li
              = link_to t('brokers_model'), brokers_path
            li
              = link_to t('clearing_price_buckets_model'), price_buckets_path
            li
              = link_to t('payment_method_overrides_model'), payment_method_overrides_path
    .pull-right
      ul.nav.navbar-nav
        - if user_signed_in?
          li
            p.navbar-text
              = t('signed_in_as_username', username: current_user.email)
          li
            = link_to t('my_account'), edit_user_registration_path
          li
            = link_to t('sign_out'), destroy_user_session_path, method: :delete
        - else
          li
            = link_to t('login'), new_user_session_path
          li
            = link_to t('sign_up'), new_user_registration_path
