doctype html
/![if lt IE 7 ]> <html lang="#{::I18n.locale}" class="no-js ie6"> <![endif]
/![if IE 7 ]>    <html lang="#{::I18n.locale}" class="no-js ie7"> <![endif]
/![if IE 8 ]>    <html lang="#{::I18n.locale}" class="no-js ie8"> <![endif]
/![if IE 9 ]>    <html lang="#{::I18n.locale}" class="no-js ie9"> <![endif]
/! [if (gt IE 9)|!(IE)]><!
html.no-js lang="#{::I18n.locale}"
  /! <![endif]
  head
    title= yield(:title).presence || 'SREC Trading Application'

    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"

    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags

  body
    = render 'navbar'

    .container-fixed
      / You can find custom bootstrap builder in lib/bootstrap_breadcrumbs_builder.rb
      = render_breadcrumbs(builder: BootstrapBreadcrumbsBuilder, separator: '&gt;')

      = render 'flash_notifications'
      = yield

    = javascript_include_tag 'application'
